* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  width: auto;
  height: 8vh;
  background-color: cadetblue;
}

ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3em;
  margin-right: 2em;
  margin-top: 1.2em;
}

li {
  list-style: none;
  color: #ccc;
  font-size: 1.3em;
  transition: font-size .5s;
  cursor: pointer;
}

li:hover {
  font-size: 1.8em;
}

main {
  padding: 1.5em;
  font-size: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
  padding-bottom: 1em;
}

footer {
  width: auto;
  height: 8vh;
  background-color: burlywood;
}
